{% comment %}
  The contents of the product.liquid template can be found in /sections/product-template.liquid
{% endcomment %}

{% comment %}
{% section 'product-template' %}
{% section 'product-recommendations' %}
{% endcomment %}

{% if collection %}
  <div class="text-center return-link-wrapper page-width">
    <a href="{{ collection.url }}" class="btn btn--secondary btn--has-icon-before return-link">
      {% include 'icon-arrow-left' %}
      {{ 'products.product.back_to_collection' | t: title: collection.title }}
    </a>
  </div>
{% endif %}


<div id="cart-popup-wrapper" class="cart-popup">
  <div class="cart-popup__header">
    <span class="close">&times;</span>
    <h2 class="cart-popup__heading">{{ 'cart.popup.added_to_cart' |t }}</h2>

    <div class="cart-popup-item">
      <p>{{ product.title }}</p>

      {{ line_item.title }}
      {{ line_item.image | img_url: '100x100' | img_tag }}
      {{ line_item.product }}

    </div>
  </div>

</div>


{% assign current_variant = product.selected_or_first_available_variant %}
{% assign featured_image = current_variant.featured_image | default: product.featured_image %}
<img src="{{ featured_image | img_url: 'large' }}" alt="{{ featured_image.alt | escape }}" id="ProductPhotoImg">
{% for image in product.images %}
  <a href="{{ image.src | img_url: 'large' }}">
    <img src="{{ image.src | img_url: 'compact' }}" alt="{{ image.alt | escape }}">
  </a>
{% endfor %}


<h1>{{ product.title }}</h1>
<form id="add-to-cart-form">
  <select name="id" id="product-select">
    {% for variant in product.variants %}
      {% if variant.available %}
        <option value="{{ variant.id }}">
          {{ variant.title }} - {{ variant.price | money_with_currency }}
        </option>
      {% else %}
        <option disabled="disabled">
          {{ variant.title }} - sold out
        </option>
      {% endif %}
    {% endfor %}
  </select>
  <label for="quantity">Quantity</label>
  <input type="number" id="Quantity" value="1" name="quantity" value="1" min="1">
  <button type="submit" name="add" id="add-to-cart" value="Add to cart" data-add-to-cart>add to cart</button>
</form>
<div>{{ product.description }}</div>

<script>
    async function openModal(event){
      event.preventDefault();
      const cartPopup = document.getElementById("cart-popup-wrapper");
      cartPopup.style.display= "block";
  }
  function closeModal() {
    const cartPopup = document.getElementById("cart-popup-wrapper");
    cartPopup.style.display = "none";
  }
  window.addEventListener('DOMContentLoaded', (event) => {
    const span = document.getElementsByClassName("close")[0];
    const form = document.getElementById("add-to-cart-form");
    const data = new FormData(form);
    
    form.addEventListener('submit', openModal);
    span.addEventListener('click', closeModal);
});
// change font depend on availability of stock
//   var selectCallback = function(variant, selector){
//     if(variant && variant.available){
//         $('#add-to-cart').removeClass('disabled').removeAttr('disabled');
//         // Enable the Add to Cart button
//         $('.options .price').html('<strong>'+Shopify.formatMoney(variant.price, "{{shop.money_with_currency_format}}")+'</strong>');
//         // Show price of the currently selected variant
//     }
//     else{
//         $('#add-to-cart').addClass('disabled').attr('disabled', 'disabled');
//         // Disable the Add to Cart button
//         $('.options .price').text("Sold Out!");
//         // Swap price with a 'Sold Out' message
//     }
// };
</script> 